#game-details {
    display: flex;
    flex-direction: row;
    padding-bottom: 32px;
}

#score {
   margin-left: auto;
}

#card-title {
    padding: 0px;
    width: 90%;
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
}
#card-title::-webkit-scrollbar {
    width: 0;
    }

#card-item {
    height: 75%;
    width: 90%;
    border-radius: 15%;
}

#card {
    height: 324px;
    width: 194px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 217, 0, 0.637); 
    border-radius: 15%;
    box-shadow: 1px 1px 10px 2px rgba(255, 217, 0, 0.637);
    flex: 1 0 auto;
}

#main-background {
    padding: 8px 16px;
    background-color: rgba(7, 7, 163, 0.808);
    min-height: 100vh;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}